*{
    box-sizing: border-box; /* uzima se i padding i border u izraÄun*/
    margin: 0; /* h1, p i neki elementi imaju po defaultu margin*/
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif; /*uzima redom ako ne postoji navedeni*/
    color: #383B37;
    position: relative;
    width: 1920px;
    height: 1400px;

}

h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

p{
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

button{
    /*tekst*/
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: white;

    background: #575756;
    box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
    border-radius: 30px;

    padding: 18px 36px;

    cursor: pointer;

    outline: 0;
    border: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    row-gap: 40px;
    column-gap: 40px;

    max-width: 1400px;
    margin: 0 auto; /*left i right je auto, top i bottom je nula*/

    padding: 60px 0;
}

.container .box { /*za sve box klase unutar kontejnera*/
    background: #FFFFFF;
    border: 2px solid #E5E5E5;

    padding: 20px;

    display: flex;
    flex-direction: column;
}

.container .box:hover, 
.container .box:focus {
    cursor: pointer;

    transition: all 0.46s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.container .box > img {
    width: 100%;
    height: 250px;

    object-fit: cover; /*pokriva onoliko koliko smo zadali za box*/
    margin-bottom: 11px;
}

.container .box h4 {
    margin-bottom: 10px;
}

.container .box p {
    border-bottom: 20px;
    flex-grow: 1;
}

.container .box > button {
    margin: 0 auto;
}

nav ul {
    overflow: hidden;
    background: #383B37;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 1920px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

nav ul > li {
    padding: 0 20px;

}

nav ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    padding: 0 20px;
}

ul > span{
    color: black;
}

a:hover{
    color: #85B2FF;

}

.sub-menu{
    display: none;
    position: absolute;
    width: 223px;
    height: 130px;
    left: 797px;
    top: 80px;
    padding: 0 30.76px 0 26px;
    background: #1E201D;

}

div > a {
    display:flex;
    text-decoration: none;
    color: white;
    padding: 12px 10px;
    border-bottom: 1px solid white;
    text-align: left;
}

div > a:last-child{
    border: none;
}


    